
html {
    height: 100%;

}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;

}

.btn-danger{
    margin-left: 20px !important;
}

.error{
    color: red !important;
}

.comments{
    background: rgba(211, 211, 211, 0.26);
    margin-bottom: 5px;
}

.comment-user{
    text-align: left;
    font-weight: bold;

}

.icon{
    margin-left: 15px;
}

.footer {
    position: absolute !important;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}